/* NITE MODE */

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    background-color: black;
    height: 100vh;
    color: #fff;
}

/* NavBar */
nav {
    width: 100%;
    /* display: flex;
    justify-content: right;
    align-items: center; */
    background-color: blue;
    /* margin: 0 30em 0 0; */
}

.day_mode {
    background-color: white;
}

.screen_mode {
    /* width: 3em; */
    background-color: black;
    border: 1px solid white;
}


/* Header */
header {
    p {
        font-size: 2.5rem;
        font-weight: bold;
    }
}


/* The Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    border: none;
    width: 100%;
}


/* The Input Field */
.input_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    gap: .5em;
}

/* The Name Inputs */
.input_div input {
    padding: 1em 5em;
    background-color: black;
    border: 2px solid white;
}

/* Pin Field */
.pin_field {
    display: flex;
    /* flex-direction: column; */
    gap: 1.2em;
}

.pin_field input {
    width: 15px;
    font-size: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    outline: none;
    transition: all 0.1s;
    color: #fff;
}

.pin_field input:focus {
    border: 2px solid blue;
    box-shadow: 0 0 2px 2px blue;
}

/* Submit Button */
.submit_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_ {
    padding: 1em 9.5em;
    background-color: rgb(82, 82, 82);
    background-color: #393636;
    border: none;
    font-weight: bold;
    font-size: .9rem;
    margin-top: 1em;
    cursor: pointer;
}

/* Registration */

a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}